.MuiOutlinedInput-input {
  padding: 6px 16px !important;
}
.MuiSelect-outlined.MuiSelect-outlined {
  padding-right: 32px !important;
}
.container {
  position: absolute;
  top: 1em;
  left: 25em;
}
.input {
  padding: 10px;
  background-color: #fff;
  margin-right: 1em !important;
}
.select {
  background-color: #fff;
}
/* .selectSelect {
  padding: 2px;
} */

@media screen and (max-width: 860px) {
  .container {
    left: 1em;
  }
}
@media screen and (max-width: 1020px) {
  .container {
    left: 1em;
  }
}

@media screen and (max-width: 767px) {
  .container {
    left: 1em;
  }
}
@media screen and (max-width: 620px) {
  .container {
    left: 1em;
  }
}

@media screen and (max-width: 420px) {
  .container {
    left: 1em;
  }
}
