.container {
  position: absolute;
  top: 1em;
  left: 25em;
}
.input {
  padding: 10px;
  background-color: #fff;
}
.select {
  background-color: #fff;
  margin-left: 5px;
  margin-top: -5px;
}
.selectSelect {
  padding: 2px;
}

@media screen and (max-width: 860px) {
  .container {
    left: 2em;
  }
}
@media screen and (max-width: 1020px) {
  .container {
    left: 2em;
  }
}

@media screen and (max-width: 767px) {
  .container {
    left: 2em;
  }
}
@media screen and (max-width: 620px) {
  .container {
    left: 2em;
  }
}

@media screen and (max-width: 420px) {
  .container {
    left: 2em;
  }
}
